
@import "variables/_customvar";
@import "style/_style.scss";
@import "~bootstrap/scss/bootstrap";


body {
	overflow-x: hidden;
	@include media-breakpoint-up(md) {
		overflow-x: hidden;
	}
}




@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

.navbar  {
	position: absolute;
	background: transparent !important;
	width: 100%;
	z-index: 100;
	display: block;
}



.bg-info {
	position: absolute;
	margin-top: 5.5rem;
	width: 100%;
	z-index: 10;
	display: block; 
}


#icon-nav {
	width: 23em;
	flex-direction: column;
	@include media-breakpoint-up(md) {
		width: 100%;
		flex-direction: row;

	
	}
}

.hero {
	background-color: #111;
	overflow: hidden;
	height: 60vh;

	@include media-breakpoint-up(md) {
		background-color: #111;	
		height: 100vh;
	}

}


	
	.hero-carousel-1 {
		background-color: #ffeaa7;
		display: block;
		position: relative;
		width: 100%;
		height: 100vh;

		// @include media-breakpoint-down(md) {
		// 	height: 40vw;
		// }

	 
	}

	.hero-carousel-2 {
		background-color: #999;
		display: block;
		position: relative;
		width: 100%;
		height: 100vh;
		
		// @include media-breakpoint-down(md) {
		// 	height: 40vw;
		// }
	
		
	}

	.hero-carousel-3 {
		background-color: #bbb;
		display: block;
		position: relative;
		width: 100%;
		height: 100vh;
	
		// @include media-breakpoint-down(md) {
		// 	height: 40vw;
		// }
		
	}

	

.sale-slider {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	.slick-slide {
		margin: 0 16px !important;
	}

	.sale-slider-1, .sale-slider-2,
	.sale-slider-3, .sale-slider-4 {
	height: 20em;
	}
}


.best-seller {
	background-color: #bbb;
	height: 20vh;
	overflow: hidden;
	position: relative;
}


//featured-products
//
.feat-bg {

	 background-color: #bbb;
	
	height:100vh;
	position: relative;
	
	// .feat-row .feat-col {
	// 	display: flex;
	// 	height: 100%;
	.container {
		height: 100%;
		position: relative;
		.row {
			height: 100%;
			position: relative;
			.model-bg {
				background-color: #999;
				
				height: 100%;
				position: relative;
			}

			.glass-bg {
				background-color: #eee;
				display: flex;
				height: 100%;
				position: relative;

				.feat-single-1{
					
					background-color: #aaa;
					height: 80%;
					@include media-breakpoint-up(md){

					//flex-direction: row;
					height: 60%;
					
					}
				}

				.feat-single-2{
					background-color: #ccc;
					//flex-direction: row;
					height: 80%;
					@include media-breakpoint-up(md){

					//flex-direction: row;
					height: 60%;
					
					}

					
				}
			}
		}
	}

	// }
}