
@import "variables/_customvar";
@import "style/_style.scss";
@import "~bootstrap/scss/bootstrap";


body {
	height: 100vh;
	position: relative;
	overflow-x: hidden !important;
	.slick-prev, .slick-next, .slick-arrow {
		display: none !important;
	}

	@include media-breakpoint-up(md) {
		overflow-x: hidden;
	}
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}


.navbar  {
	position: absolute;
	background: transparent !important;
	width: 100%;
	z-index: 100;
	display: block;
}



.bg-info {
	position: absolute;
	margin-top: 5.5rem;
	width: 100%;
	z-index: 10;
	display: block; 
}



#icon-nav {
	max-width: 70%;
	flex-direction: column;
	z-index: 100000000;
	@include media-breakpoint-up(lg) {
		max-width: unset;
		width: 100%;
		flex-direction: row;
	}

	
}

.nav-backdrop {
	content: "";
	display: block;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	z-index:1000;
	top: 0;
	left: 0;
}

.nav-close {
	display: flex;
	position: fixed;
	width: 1.5em;
	height: 2em;
	top: 0;
	left: 70%;
	justify-content: center;
	font-size: xx-large;


}

	

	// @include media-breakpoint-down(sm) {
	// 	width: 75%;
	// }


.hero {
	overflow: hidden;
	height: 80vh;

	@include media-breakpoint-up(md) {
		background-color: #111;	
		height: 100vh;
	}

}


	
	.hero-carousel-1 {
		background-color: #ffeaa7;
		display: block;
		position: relative;
		width: 100%;
		height: 80vh;

		@include media-breakpoint-up(md) {
			height: 100vh;
		}

	 
	}

	.hero-carousel-2 {
		background-color: #999;
		display: block;
		position: relative;
		width: 100%;
		height: 80vh;
		
		@include media-breakpoint-up(md) {
			height: 100vh;
		}
	
		
	}

	.hero-carousel-3 {
		background-color: #bbb;
		display: block;
		position: relative;
		width: 100%;
		height: 80vh;
	
		@include media-breakpoint-up(md) {
			height: 100vh;
		}
		
	}

	

// .sale-slider {
// 	display: flex;
// 	flex-direction: row;
// 	width: 100%;
// 	position: relative;
// 	overflow: hidden;

// 	.slick-slide {
// 		margin: 0 16px !important;
// 	}

// 	.sale-slider-1, .sale-slider-2,
// 	.sale-slider-3, .sale-slider-4 {
// 	height: 20em;
// 	}
// }
// 
.sale-slider {
	
	
		.slick-slide {
			margin: 0 1em;
		}

	[class^=col] {
		height: 40vh;
		background-color: #bbb;
		//max-width: 25%;
		@include media-breakpoint-up(md) {
		// height: 40vh;
		max-width: 20%;
		}

	}
}

// best-seller
.best-seller {
	background-color: #bbb;
	height: 20vh;
	overflow: hidden;
	position: relative;
}


//featured-products
//
.feat-bg {
	background-color: #bbb;
	height:100vh;
	position: relative;
	
	.container {
		height: 100%;
		position: relative;
		.row {
			height: 100%;
			position: relative;
			.model-bg {
				background-color: #999;
				height: 100%;
				position: relative;
				}

			.glass-bg {
				background-color: #eee;
				display: flex;
				height: 100%;
				position: relative;
				
				.feat-single-1{
					position: relative;
					background-color: #aaa;
					height: 80%;
					margin: .7em;
					@include media-breakpoint-up(md) {
					height: 60%;
					margin: 0;
					max-width: 45%;
					}
				}

				.feat-single-2{
					position: relative;
					background-color: #ccc;
					margin: 0.7em;
					height: 80%;
					@include media-breakpoint-up(md) {
					height: 60%;
					margin: 0;
					max-width: 45%;

					}
				}
			}
		}
	}
}
					
// new arrivals 
// 
.sect-arr {
	background-color: #bbb;
	position: relative;
	height: 40%;
	@include media-breakpoint-up(md) {
	height: 60%;
	}
	.container{
		.new-arr {
			position: relative;
			
			
			
			.new-arr-1{
				background-color: #999;
				height: 40vh;
				@include media-breakpoint-up(md) {
					height: 60vh;
				}
			}
			.new-arr-2{
				background-color: #777;
				height: 40vh;
				@include media-breakpoint-up(md) {
					height: 60vh;
				}
			}
			.new-arr-3{
				background-color: #555;
				height: 40vh;
				@include media-breakpoint-up(md) {
					height: 60vh;
				}
			}
			.new-arr-4{
				background-color: #eee;
				height: 40vh;
				@include media-breakpoint-up(md) {
					height: 60vh;
				}
			}
		}
	}
} 
// sect-arrival-end
					
//sect-blog
//
.sect-blog {
	height: 50%;
	position: relative;

	

	@include media-breakpoint-up(md) {
		height: 70%;
	}

	.container {
		height: 100%;
		.row {
			height: 100%;
			position: relative;
			// .blog-inner {
			// .slick-slide {
			// 	width: 100%;
				
				.blog-inner-1 {
					background-color: #bbb;
					height: 50vh;

					@include media-breakpoint-up(md) {
						height: 60vh;
					}
				}
				.blog-inner-2 {
					background-color: #777;
					height: 50vh;
					@include media-breakpoint-up(md) {
						height: 60vh;
					}
				}
				.blog-inner-3 {
					background-color: #999;
					height: 50vh;
					@include media-breakpoint-up(md) {
						height: 60vh;
					}
				}
			// }

			// }
		}
	}
}

// gallery
// 
.gallery {
	[class^=col],  {
		height: 50vh;
		
		@include media-breakpoint-up(md) {
			
			height: 40vh;
		}
	}

	[class~=col-md-6]  {
		max-width: 50%;
		@include media-breakpoint-up(md) {
			max-width: 100%;
		}

	}

	// .beard {
	// 	 background-image: url('../images/beard.jpg');
	// }

	// .wayfer {
	// 	background-image: url('../images/wayfer1.jpg');
	// }

	// .orange {
	// 	background-image: url('../images/transorange.jpg');
	// }

	// .red {
	// 	background-image: url('../images/transred.jpg');
	// }

	// .pink {
	// 	background-image: url('../images/transpink.jpg');
	// }

	// .girl2 {
	// 	background-image: linear-gradient(to right,blue 0%,red 100%),url('../images/girl2.jpg');
	// 	background-repeat: no-repeat;
	// 	background-position: 50% 30%;
	// 	background-blend-mode: difference;

	// }

	// .girl1 {
	// 	background-image: url('../images/girl1.jpg');
	// 	//background-repeat: no-repeat;
	// 	background-size: cover;
	// 	background-position: 50% 50%;

	// }

}


//footer 
//
// .footer {
	
	.foot-about {
		[class^=col] {
			height: 50vh;
		}

		[class~=col-xl-12] {
			height: 20vh;
		}
	}

	.foot-about:before {
		content: "";
		height: 1px;
		background-color: #fff;
		display: block;
		position: relative;
		width: 100%;
	}
// }
					